<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDugWdBLPGwXW5_p22Kn-s_f_aN2QmWraE</string>
	<key>GCM_SENDER_ID</key>
	<string>644848548106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>py.com.certiva.app</string>
	<key>PROJECT_ID</key>
	<string>certiva-crashlytics</string>
	<key>STORAGE_BUCKET</key>
	<string>certiva-crashlytics.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644848548106:ios:63536142d1bd894a5822f3</string>
</dict>
</plist>